<% if obj.errors.any? %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      Error!
    </div>
    <% obj.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>